.trainEditHeader{
    font-size:16px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
    border-top:1px solid black;
    border-left:1px solid black;
    border-bottom:1px solid black;
    box-sizing: border-box;
    height:30px;
    line-height: 30px;
}
.trainEditBody{
    font-size:14px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
    border-left:1px solid black;
    border-bottom:1px solid black;
    box-sizing: border-box;
    height:30px;
    line-height: 30px;
    background-color: #F8F8F8;

}
.trainEditBodyHalf{
    font-size:14px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
    border-left:1px solid black;
    border-bottom:1px solid black;
    box-sizing: border-box;
    height:15px;
    background-color: #F8F8F8;

}
.trainEditEditable{
    background-color: #FFFFFF;
}
.trainEditEditableSelected{
    background-color: #FFD700;
}
.test{
    border: 0px;
    appearance: none; /* 標準のスタイルを無効にする */
    height:30px;
    width:20px;
    font-size: 16px;
    overflow-x: hidden;
}

.timeButton{
    font-size: 14px;
    margin:2px 2px;
    padding:10px 0px;
    min-width: 0px;
    width:100%;
    box-sizing: border-box;
}

