.selectableCell{
  color:black;
  border: 1px solid transparent;
  box-sizing: border-box;
  &:focus {
    border: 1px dashed purple;
    outline:none;
    background-color: #f0e0f8;

  }
}
.stationNameDivNormal{
  border-right:1px solid gray;
  white-space: nowrap;
  overflow-x:hidden;
}

.noScrollBar{
}
.noScrollBar::-webkit-scrollbar {
  display:none;
}
